body{
    color: rgb(91, 212, 226);
background-image: url("space.webp");
background-size: cover;
text-align: center;
font-family: "Orbitron", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}
.bt{
    padding: 6px 12px;
    background: rgb(104, 85, 142);
    border: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
 
}
.cta{
    border-bottom: 4px solid;
}
#Mainlogo{
    width: 150px;
    q11-shadow: 0px 0px 4px black;
}


