button{
    border: 1px solid #cfd9de;
    text-emphasis-color: #0f1419;
    background: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;

}